{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
        <td>Título</td>
        <td>Descripción</td>
        </tr>
    </thead>
    <tbody>

        <tr>
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>

        </tr>
    </tbody>

</table>
{% endblock %}
