{% extends 'base.html.twig' %}

{% block title %} Post | {{post.title}}{% endblock %}

{% block body %}

   <h1 class="mt-3">{{post.title}}</h1> 
   <div>{{post.type}}</div>
   <div>{{post.description}}</div>

{% endblock %}
